<div class="swiper-container banner">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="Content/images/ban_1.jpg" alt=""></div>
        <div class="swiper-slide"><img src="Content/images/ban_2.jpg" alt=""></div>
        <div class="swiper-slide"><img src="Content/images/ban_3.jpg" alt=""></div>
        <div class="swiper-slide"><img src="Content/images/ban_4.jpg" alt=""></div>
    </div>
    <div class="swiper-pagination"></div>
</div>
<div class="list clearfix">
    <dl class="col-xs-3">
        <dt class="bg-danger"><i class="fa fa-shopping-bag"></i></dt>
        <dd class="">车商城</dd>
    </dl>
    <dl class="col-xs-3">
        <dt class="bg-orange"><i class="fa fa-list"></i></dt>
        <dd>分期购车</dd>
    </dl>
    <dl class="col-xs-3">
        <dt class="bg-green"><i class="fa fa-photo"></i></dt>
        <dd>团购活动</dd>
    </dl>
    <dl class="col-xs-3">
        <dt class="bg-primary"><i class="fa fa-car"></i></dt>
        <dd>找二手车</dd>
    </dl>
</div>
<div class="logo">
    <img src="Content/images/logo_1.gif" alt="">
</div>
<div class="produce-list">
    <h3>车主服务</h3>
    <ul class="icons">
        <li>
            <i class="fa fa-book text-danger"></i>
            <span>油卡充值</span>
        </li>
        <li>
            <i class="fa fa-adjust text-danger"></i>
            <span>低价保险</span>
        </li>
        <li>
            <i class="fa fa-h-square text-primary"></i>
            <span>4S店保养</span>
        </li>
        <li>
            <i class="fa fa-circle text-success"></i>
            <span>品质轮胎</span>
        <li>
            <i class="fa fa-home text-danger"></i>
            <span>车品商城</span>
        </li>
        <li>
            <i class="fa fa-car text-primary"></i>
            <span>洗车</span>
        </li>
        <li>
            <i class="fa fa-weixin text-danger"></i>
            <span>违章代缴</span>
        </li>
        <li>
            <i class="fa fa-list text-danger"></i>
            <span>免费测试</span>
        </li>
        <li>
            <i class="fa fa-deaf text-primary"></i>
            <span>壹周边</span>
        </li>
        <li>
            <i class="fa fa-car text-success"></i>
            <span>车主卡</span>
        </li>
        <li>
            <i class="fa fa-dollar text-primary"></i>
            <span>领券保养</span>
        </li>
        <li>
            <i class="fa fa-minus-square-o"></i>
            <span>全部</span>
        </li>
    </ul>
</div>
<div class="scroll mt10">
    <div class="tit">
        <h3>限时抢购</h3>
        <div class="time">
            <span>13</span>:<span>13</span>:<span>13</span>
        </div>
    </div>
    <div class="iscroll" id="iscroll">
        <ul class="scroll-list">
            <li class="float-left">
                <dl>
                    <dt><img src="Content/images/pic_1.gif" alt=""></dt>
                    <dd>
                        <h4>补胎工具简易套装</h4>
                        <p><span>￥9.9元</span><s>28元</s></p>
                    </dd>
                </dl>
            </li>
            <li class="float-left">
                <dl>
                    <dt><img src="Content/images/pic_2.gif" alt=""></dt>
                    <dd>
                        <h4>补胎工具简易套装</h4>
                        <p><span>￥9.9元</span><s>28元</s></p>
                    </dd>
                </dl>
            </li>
            <li class="float-left">
                <dl>
                    <dt><img src="Content/images/pic_1.gif" alt=""></dt>
                    <dd>
                        <h4>补胎工具简易套装</h4>
                        <p><span>￥9.9元</span><s>28元</s></p>
                    </dd>
                </dl>
            </li>
            <li class="float-left">
                <dl>
                    <dt><img src="Content/images/pic_2.gif" alt=""></dt>
                    <dd>
                        <h4>补胎工具简易套装</h4>
                        <p><span>￥9.9元</span><s>28元</s></p>
                    </dd>
                </dl>
            </li>
            <li class="float-left">
                <dl>
                    <dt><img src="Content/images/pic_1.gif" alt=""></dt>
                    <dd>
                        <h4>补胎工具简易套装</h4>
                        <p><span>￥9.9元</span><s>28元</s></p>
                    </dd>
                </dl>
            </li>
            <li class="float-left">
                <dl>
                    <dt><img src="Content/images/pic_2.gif" alt=""></dt>
                    <dd>
                        <h4>补胎工具简易套装</h4>
                        <p><span>￥9.9元</span><s>28元</s></p>
                    </dd>
                </dl>
            </li>
            <li class="float-left">
                <dl>
                    <dt><img src="Content/images/pic_1.gif" alt=""></dt>
                    <dd>
                        <h4>补胎工具简易套装</h4>
                        <p><span>￥9.9元</span><s>28元</s></p>
                    </dd>
                </dl>
            </li>
            <li class="float-left">
                <dl>
                    <dt><img src="Content/images/pic_2.gif" alt=""></dt>
                    <dd>
                        <h4>补胎工具简易套装</h4>
                        <p><span>￥9.9元</span><s>28元</s></p>
                    </dd>
                </dl>
            </li>

        </ul>
    </div>
</div>
<div class="active mt10 clearfix">
    <div class="tit">
        <h3>活动专区</h3>
        <div class="more">
            <span>更多活动</span><i class="fa fa-angle-right"></i>
        </div>
    </div>
    <ul class="dls">
        <li class="col-xs-4">
            <dl>
                <dd>
                    <h4>测身价炫富</h4>
                    <p>身家达PK</p>
                </dd>
                <dt><img src="Content/images/dt_1.gif" alt=""></dt>
            </dl>
        </li>
        <li class="col-xs-4">
            <dl>
                <dd>
                    <h4>全场0利率</h4>
                    <p>购车无压力</p>
                </dd>
                <dt><img src="Content/images/dt_2.gif" alt=""></dt>
            </dl>
        </li>
        <li class="col-xs-4">
            <dl>
                <dd>
                    <h4>好车分期</h4>
                    <p>定制专属方案</p>
                </dd>
                <dt><img src="Content/images/dt_3.gif" alt=""></dt>
            </dl>
        </li>
    </ul>
</div>
<div class="like mt10 clearfix">
    <div class="tit">
        <h3>猜你喜欢</h3>
        <div class="more">
            <span>更多</span><i class="fa fa-angle-right"></i>
        </div>
    </div>
    <ul class="car-list" >
        <li ng-repeat="obj in cars">
            <dl>
                <dt><img ng-src="{{obj.imgUrl}}" alt=""></dt>
                <dd>
                    <h4>{{obj.tit}}</h4>
                    <p>{{obj.content}}</p>
                    <p><b>{{obj.nowPrice}}</b><s>{{obj.price}}</s></p>
                </dd>
            </dl>
        </li>
    </ul>
</div>
<!--<div class="like mt10 clearfix">
    <div class="tit">
        <h3>猜你喜欢</h3>
        <div class="more">
            <span>更多</span><i class="fa fa-angle-right"></i>
        </div>
    </div>
    <ul class="car-list clearfix">
        <li class="col-xs-6">
            <dl>
                <dt><img src="Content/images/car_1.gif" alt=""></dt>
                <dd>
                    <h4>上海大众-全新路途L</h4>
                    <p>上海大众-全新旅途L2年0利率</p>
                    <p><b>1元</b><s>1.44万</s></p>
                </dd>
            </dl>
        </li>
        <li class="col-xs-6">
            <dl>
                <dt><img src="Content/images/car_2.gif" alt=""></dt>
                <dd>
                    <h4>上海大众-全新路途L</h4>
                    <p>上海大众-全新旅途L2年0利率</p>
                    <p><b>1元</b><s>1.44万</s></p>
                </dd>
            </dl>
        </li>
        <li class="col-xs-6">
            <dl>
                <dt><img src="Content/images/car_3.gif" alt=""></dt>
                <dd>
                    <h4>上海大众-全新路途L</h4>
                    <p>上海大众-全新旅途L2年0利率</p>
                    <p><b>1元</b><s>1.44万</s></p>
                </dd>
            </dl>
        </li>
        <li class="col-xs-6">
            <dl>
                <dt><img src="Content/images/car_4.gif" alt=""></dt>
                <dd>
                    <h4>上海大众-全新路途L</h4>
                    <p>上海大众-全新旅途L2年0利率</p>
                    <p><b>1元</b><s>1.44万</s></p>
                </dd>
            </dl>
        </li>
    </ul>
</div>-->
<div class="btn">
    <button class="btn-lg">点击加载更多</button>
</div>

